<mat-sidenav-container>
    <mat-sidenav role="dialog" mode='over' [opened]="toggleService.isSidebarOpen()" (closedStart)="sidenavClosed()"></mat-sidenav>
    <mat-sidenav-content class="full-screen">
        <!-- Top Bar for Large Screen -->
        @if(!mediaService.isMobile()){
        <tap-bar-top></tap-bar-top>
        }
        <!-- Main Content -->
        <div class="flex-column">
            @if(!mediaService.isMobile()){
            <!-- Dummy PlaceHolder for Scroll Issues -->
            <mat-toolbar></mat-toolbar> }
            <!-- Router Outlet -->
            <router-outlet></router-outlet>
            <!-- Dummy PlaceHolder for Scroll Issues -->
            @if(mediaService.isMobile()){
            <mat-toolbar></mat-toolbar> }
        </div>
        <!-- Bottom Bar for mobile Screen -->
        @if(mediaService.isMobile()){
        <tap-bar-bottom></tap-bar-bottom>
        }
    </mat-sidenav-content>
</mat-sidenav-container>