<!-- TODO Remove Aria hardcode -->
<mat-toolbar aria-label="App Bar" role="navigation" class="position-fixed">
    <tap-brand></tap-brand>
    <div>
        @for (link of data; track $index) {
        <tap-btn-nav [data]="link"></tap-btn-nav>}
    </div>

    <div>
        @if(mediaService.isLarge()){
        @for(icon of toggleService.toggleIcons();track $index){
        <tap-icon-event-toggle [data]="icon"></tap-icon-event-toggle> } }
        @else {<tap-icon-event-toggle [data]="toggleService.toggleSidenavIcon()"></tap-icon-event-toggle> }
    </div>

</mat-toolbar>